{% extends "base.html" %}

{% block title %}Add an Item{% endblock %}

{% block content %}

<h1 style="padding: 10px">Add an Item to Rent</h1>

<div>
    <form action="/api/saveItem" method="post" enctype="multipart/form-data">
        <div class="form-group col-md-6" id="form">
                <label for="item_name">What is this Item? *</label>
                <input type="text" class="form-control" name="item_name" placeholder="Ex: Blender, Drill" style="margin-bottom: 20px;" required>
                <label for="category">What do you use this item for? *</label>
                <select class="form-control" name="category" style="margin-bottom: 20px;" required>
                    <option value="0">Select a Category</option>
                    <option value='1'>Yard Tools</option>
                    <option value='2'>Household Items</option>
                    <option value='3'>Kitchen Gadgets</option>
                    <option value='4'>Recreational Equipment</option>
                    <option value="5">Party Rentals</option>
                    <option value="6">Tools</option>
                    <option value="7">Electronics</option>
                    <option value="8">Automotive</option>
                    <option value="9">Beach Supplies</option>
                    <option value="10">Games</option>
                    <option value="11">Movies</option>
                    <option value="12">Other</option>
                </select>
            <div style="vertical-align: top; margin-bottom: 20px;">
                <label for="price">How much are renting this item for? *</label>
                <input type="number" step="any" name="price" placeholder="Ex: 0.00" required>
                <label for="per">per</label>
                <input type="text" step="any" name="per" placeholder="Ex: hour, day">
            </div>
            <label for="description">Description of Item</label>
            <textarea class="form-control" rows="5" name="description" style="margin-bottom: 20px"></textarea>
            <label for="date_added">How Long is this Item Available? *<br>From:</label>
            <input type="date" class="form-control" name="date_added" required>
            <label for="due_date">To:</label>
            <input type="date" class="form-control" name="due_date">
            <input type="checkbox" id="indefinitely" style="margin-bottom: 20px">
            <label for="indefinitely">Indefinitely</label>
            <p><label for="photo">Add a photo</label></p>
            <input type="file"  accept="image/*" name="image" id="photo"  onchange="loadFile(event)" style="margin-bottom: 20px">
            <p><img id="output" width="200"  alt="" src="" style="margin-bottom: 20px"/></p>
            <input type="submit" id="submit_btn" class="btn btn-info">
        </div>
    </form>
</div>
<script>
    const loadFile = function (event) {
    const image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

{% endblock %}