{% extends "base.html" %}

{% block title %}Renters Page{% endblock %}

{% block extrajs %}
<!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/rent.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--Item Info-->
    <h1 class="my-4">Item Name: <br>
        <small>Price:</small>
    </h1>
      <img class="card-body" src="http://placehold.it/750x300" alt="Card image cap" width="750" height="500">
      <div class="howl">How Long Can I Rent?</div>
      <div class="howl">Reviews</div>
      <p class="card-text">Description: </p>
      <a href="#" class="btn btn-primary">Go To Checkout &rarr;</a>

      


    <footer class="py-5 bg-dark">
       
    </footer>
    
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}
