<!DOCTYPE html>
<html>
	<head>
		{%block head%}
		<meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="https://datamaps.github.io/scripts/datamaps.world.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    	{% block extrajs %}{% endblock %}
    	<title>{% block title %}{% endblock %}</title>
    	{% block style %}{% endblock %}
    	{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-dark bg-primary">
    		<!-- .container-fluid class provides a full width container, spanning the entire width of the viewport -->
    		<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a class="active" style="color: white" href="/">Intro</a></li>
					<li><a href="/query_tables" style="color: white">Demographics</a></li>
					<li><a href="/map" style="color: white">Map</a></li>
				</ul>
    		</div>
		</nav>
    	<div id="content">{% block content %}{% endblock %}</div>

	</body>

</html>