<!DOCTYPE html>
<html>
	<head>
		{%block head%}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    	{% block extrajs %}{% endblock %}
    	<title>{% block title %}{% endblock %}</title>
    	{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-dark bg-primary">
    		<!-- .container-fluid class provides a full width container, spanning the entire width of the viewport -->
    		<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a class="active" href="/intro" style="color: white" href="/">Intro</a></li>
					<li><a href="/index" style="color: white">Demographics</a></li>
					<li><a href="/map" style="color: white">Map</a></li>
				</ul>
    		</div>
		</nav>
    	<div id="content">{% block content %}{% endblock %}</div>

	</body>

</html>