<!DOCTYPE html>

<html>

<head>
	<title>Upload a CSV File</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>


</style>


</head>


<body>
	<h1>Show user data from backend</h1>
	<!-- <p>{{column_names}}</p>
	<p>{{data_part}}</p> -->

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), USA</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1usa_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>


	  <table class="table table-striped">
	  	<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Canada</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1canada_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>


	  <table class="table table-striped">
	  	<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), UK</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1uk_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>

	  
	  <table class="table table-striped">
	  	<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1romania_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>

	  <table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1switz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1rwanda_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1cyprus_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1isreal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1portugal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1ireland_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1germany_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1australia_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data1china_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1nz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1pal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data2usa_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data2canada_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2uk_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data2romania_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2switz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2rwanda_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2cyprus_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2isreal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data1por2ugal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2ireland_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2germany_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2australia_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2china_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2nz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2pal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3usa_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3canada_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3uk_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3romania_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3switz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3rwanda_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3cyprus_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3isreal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3portugal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3ireland_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3germany_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3australia_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3china_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3nz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3pal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4usa_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4canada_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4uk_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4romania_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4switz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4rwanda_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4cyprus_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4isreal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4portugal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4ireland_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4germany_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4australia_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4china_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4nz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4pal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

</body>
</html>