<!DOCTYPE html>

<html>

<head>
	<title>Upload a CSV File</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
 			ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

</style>


</head>


<body>
	<ul>
		<li><a class="active" href="intro.html">Intro</a></li>
		<li><a href="index.html">Demographics</a></li>
		<li><a href="map.html">Map</a></li>
		<li><a href="ontology_graph.html">Graph</a></li>
	  </ul>
	<h1>Show user data from backend</h1>
	<!-- <p>{{column_names}}</p>
	<p>{{data_part}}</p> -->

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), USA (1)</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1usa1_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>

	  <table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), USA (2)</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1usa2_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>

	  <table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), USA (3)</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1usa3_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>


	  <table class="table table-striped">
	  	<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Canada</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1canada_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>


	  <table class="table table-striped">
	  	<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), UK</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1uk_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>

	  
	  <table class="table table-striped">
	  	<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania (1)</caption>
		<thead class="thead-dark">
		  <tr>
			{% for item in column_html %}
				<th>{{item}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  {% for row in data1romania1_html %}
			   <tr>
				{% for data in row %}
					<td>{{ data }}</td>
				{% endfor %}
			   </tr>
		   {% endfor %}
		</tbody>
	  </table>

	  <table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania (2)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data1romania2_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Romania (3)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data1romania3_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	  <table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Switzerland</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1switz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Rwanda</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1rwanda_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Israel</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1isreal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 1 (young (<=35), male), Germany</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data1germany_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), USA (1)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data2usa1_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), USA (2)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data2usa2_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), USA (3)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data2usa3_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), Canada</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data2canada_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), UK</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2uk_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), Romania</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in  data2romania_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), Switzerland</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2switz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), Rwanda</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2rwanda_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), Hong Kong</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2hongkong_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), France</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2france_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), Germany</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2germany_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), New Zealand</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2nz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 2 (middle aged of old (>=36), male), Palestine</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data2pal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), USA (1)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3usa1_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), USA (2)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3usa2_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), USA (3)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3usa3_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Canada</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3canada_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), UK</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3uk_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Romania (1)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3romania1_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Romania (2)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3romania2_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Romania (3)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3romania3_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Switzerland (1)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3switz1_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Switzerland (2)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3switz2_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Switzerland (3)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3switz3_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Rwanda</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3rwanda_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Portugal</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3portugal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Germany</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3germany_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), Australia</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3australia_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 3 (young (<=35), female), China</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data3china_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), USA (1)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4usa1_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), USA (2)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4usa2_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), USA (3)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4usa3_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Canada (1)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4canada1_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Canada (2)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4canada2_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Canada (3)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4canada3_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), UK</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4uk_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Romania (1)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4romania1_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Romania (2)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4romania2_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Romania (3)</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4romania3_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Switzerland</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4switz_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Portugal</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4portugal_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Germany</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4germany_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

	<table class="table table-striped">
		<caption style="font-size: 160%; font-weight: bold;">Group 4 (middle-aged or old (>=36), female), Australia</caption>
	  <thead class="thead-dark">
		<tr>
		  {% for item in column_html %}
			  <th>{{item}}</th>
		  {% endfor %}
		</tr>
	  </thead>
	  <tbody>
		{% for row in data4australia_html %}
			 <tr>
			  {% for data in row %}
				  <td>{{ data }}</td>
			  {% endfor %}
			 </tr>
		 {% endfor %}
	  </tbody>
	</table>

</body>
</html>