{% extends "base.html" %}
{% block extrajs %}
<script src="../static/js/map.js"></script>
{% endblock %}

{% block title %}Map{% endblock %}

{% block content %}

<div id="container" style="position: relative; width: 1500px; height: 1000px;"></div>
        <div id="query_vis">
            <p id="result_p"></p>
        </div>
        <!-- Display user information in modal -->
        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div style="text-align: center">
                            <h1 class="modal-title" style="display: inline">User </h1>
                            <h1 class="modal-title" id="exampleModalLongTitle" style="display: inline"></h1>
                            <h1 class="modal-title" style="display: inline"> Information</h1>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Country: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_country"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Age: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_age"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Gender: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_gender"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Rate of Fear: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_fear"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Rate of Anxiousness: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_anxious"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Rate of Anger: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_angry"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Rate of Happiness: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_happy"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Rate of Sadness: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_sad"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>The strongest emotion they felt was: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_emotion"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>What made you feel this?: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_explain"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>What brings them the most meaning during outbreak: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_meaning"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mr-auto">
                                    <h5>Occupation: </h5>
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <p id="modal_occupation"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
