<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="https://datamaps.github.io/scripts/datamaps.world.min.js"></script>
<style>
     ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>

</head>

<body>
    <ul>
        <li><a class="active" href="intro.html">Intro</a></li>
        <li><a href="index.html">Demographics</a></li>
        <li><a href="map.html">Map</a></li>
        <li><a href="ontology_graph.html">Graph</a></li>
      </ul>
      <br><br><br>
<div id="container" style="position: relative; width: 1500px; height: 1000px;"></div>
<div id="query_vis">
    <p id="result_p"></p>
</div>
<script>
    $(document).ready(function(){
        var map = new Datamap({
            element: document.getElementById('container'),
            done: function(datamap) {
                datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
                    console.log(geography.properties.name);
                    // TODO: change url if she names function different
                    var tmp_url = "/api/query_survey_results/"+geography.properties.name;
                    $.get(tmp_url, function(data, status){
                        // jQuery hide function to hide an html element
                        // you can use show function to show a hide element
                        $("#container").hide();
                        var w = 1500;
                        var h = 1000;

                        var dataset = {
                            nodes: [],
                            edges: []
                        }
                        for(let j = 1; j <=4; j++){
                            if(typeof(data["group" + j].query_results) == "array") {

                            }
                            else {
                                dataset.nodes.push({name: "Rule1", description: data.group1.group_desc})
                                for(let i = 0; i < data.group1.query_results.length; i++){
                                    dataset.nodes.push({name: 'User ${i}', description: data.group1.query_results[i] })
                                }
                            }
                        }





                    });
                });
            }
        });
    });
</script>
</body>
